# FastAPI settings
PROJECT_NAME=FastAPI Template
SECRET_KEY=changethissecretkey123secretlongkeyfortest

# CORS allowed origins
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000","http://localhost:8080"]
